#
# You will need at least "-s <DHCP server>" or
# "-b <interface> so that dhcp-helper knows where 
# to relay DHCP requests. 
#
# See "man 8 dhcp-helper" for more details.  

DHCPHELPER_OPTS="{% for interface in proxy_arp.interfaces %}-i {{interface}}{% endfor %} -b {{ proxy_arp.wlan }}"
